@model IEnumerable<DevIo.App.ViewModels.ProdutoViewModel>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h2 class="pt-2">@ViewData["Title"]</h2>
<hr />

<p class="pt-4">
    <a class="btn btn-primary" asp-action="Create">Novo Produto</a>
</p>
<partial name="ListaProdutos" />
